#datastyle{
    color: #5b5b5b;
    text-align: left;
    position: absolute;
    border:none;
}
#box{
    width: 40px;
    font-family: 'Microsoft YaHei';
}
#imgtest{
    background-color: #5b5b5b;
    padding-top:10px;
    border-radius:49px 0px 49px 0px;
    border-radius: 75px;
}