{% load static %}
<link href="{% static "User/style.css" %}" rel="stylesheet" type="text/css"/>
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>CREATE NEW SCHEDULE</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content=" initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
</head>
<body>
<div id="">
    <div class="container medium">
        <header class="major last">
            <h2>POLISH NEW SCHEDULE</h2>
        </header>

        <form method="post" action="">{% csrf_token %}
            <div class="row">
                <div class="col-6" style="left:10px">
                    <span style="left:10px" class="text">Title:</span>
                </div>
                <div  style="left:10px;">
                    <input style="height: 50px;width: 900px;" type="text" name="username" placeholder="{{ username }}"/>
                </div>
                <div class="col-6" >
                    <span style="writing-mode: lr-tb;left:10px" class="text">Text:</span>
                </div>
                <div  style="left:10px;">
                    <input style="height: 500px; width: 900px;" type="text" name="password" placeholder=""/>
                </div>

                <div style="left:0px;">
                    <ul class="actions special">
                        {% with operation="Update" %}
                        {% endwith %}
                        <input type="hidden" name="pk" value="{{ foo.pk }}"/>
                        <input type="hidden" name="operation" value="Update"/>
                        <li><input type="submit" value="UPDATE"/></li>
                    </ul>
                </div>

                <div style="left:1000px;">
                    <ul class="actions special">
                        {% with operation="Delete" %}
                        {% endwith %}
                        <input type="hidden" name="pk" value="{{ foo.pk }}"/>
                        <input type="hidden" name="operation" value="Delete"/>
                        <li><input type="submit" value="DELETE"/></li>
                    </ul>
                </div>

            </div>
        </form>

        <ul class="copyright" style="text-align: left;">
            <li>&copy; Gyro. All rights reserved.</li>
            <li>
        </ul>

    </div>
</div>

<!-- Scripts -->
<script src="{% static "User/assets/js/jquery.min.js" %}"></script>
<script src="{% static "User/assets/js/browser.min.js" %}"></script>
<script src="{% static "User/assets/js/breakpoints.min.js" %}"></script>
<script src="{% static "User/assets/js/util.js" %}"></script>
<script src="{% static "User/assets/js/main.js" %}"></script>

</body>
</html>