<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<style type="text/css">
.imgtest{margin:10px 5px;
overflow:hidden;}
.list_ul figcaption p{
font-size:3px;
color:cadetblue;
}
.imgtest figure div{
display:inline-block;
margin:5px auto;
width:75px;
height:75px;
border-radius:100px;
border:2px solid cadetblue;
overflow:hidden;
-webkit-box-shadow:0 0 3px #ccc;
box-shadow:0 0 3px #ccc;
}
.imgtest img{width:100%;
min-height:100%; text-align:center;}
</style>

</head>

<body>

<div class="imgtest" style="left: 140px; position: absolute; top: 60px;">
 <figure>
  <div>
    <img src="rin.jpg" />
  </div>
 </figure>
</div>

<h1 style="left: 280px; position: absolute; top: 108px;color:cadetblue;text-decoration: none;font-size: large;">窃格瓦拉</h1>

<div>
    <a href="" style="color:cadetblue;text-decoration: none;left: 211.5px; position: absolute; top: 550px;font-size: x-large;">+</a>
    <a href="" style="color:cadetblue;text-decoration: none;left: 210px; position: absolute; top: 588.2px;font-size: large;">۞</a>
    <a href="index.html" style="color:cadetblue;text-decoration: none;left: 213px; position: absolute; top: 610px;font-size: x-large;">■</a>
</div>

<br><br><br><br><br><br><br><br><hr style="height:1px;border:none;border-top:1px solid cadetblue;width: 25.8cm;text-align: center" />
<h1 class="text-truncate">
</h1>

</body>
</html>